{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  <section>
    <h1>{{name}}</h1>
    <br />

    <h4>Born:</h4>
    <p>
      {{birthdate}}
      {{birthplace}}</p>

    <h4>Died:</h4>
    <p> {{deathdate}} {{deathplace}}</p>
    <br />

    <p>{{nationality}}</p>
    <p>{{occupation}}</p>
    <h4>Known for:</h4>
    <p> {{known_for}}</p>
    <hr />
    {{#each education}}
      <p>{{degree}}</p>
      <p>{{field}}</p>
      <p>{{institution}}</p>
      <p>{{year}}</p>
    {{/each}}
    <hr />
    <h4>Notable publications:</h4>
    {{#each notable_publications}}
      <i> {{title}}</i>
      <p>{{year}}</p>
      <p>Publisher:
        <i>{{publisher}}</i>
      </p>
      <br />
      <br />
    {{/each}}
    <hr />
    <h4>Partners:</h4>
    {{#each partners}}
      <p>{{name}},
        {{relationship}}</p>
    {{/each}}
    <hr />
    <h4>Awards:</h4>
    {{#each awards}}
      <p>{{title}} {{year}}</p>
      <p>{{description}}</p>
    {{/each}}
    <hr />
    <h4>Influences</h4>
    <p>{{influences}}</p>
    <h4>Influenced</h4>
    <p>{{influenced}}</p>
    <hr />
    <h4>Quotes:</h4>
    <i>{{quotes}}</i>
    <hr />
    <h4>Major discoveries:</h4>
    {{#each major_discoveries}}
      <p>{{title}} {{year}}</p>
      <p>{{description}}</p>
    {{/each}}
    <hr />
    <h4>Contributions:</h4>
    {{#with contributions}}
      <p>{{title}} {{description}}</p>
      <p>{{year}}</p>
      <p>{{field}}</p>
    {{/with}}
  </section>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}