<div>
  <article>
          <title>{{name}} - Facebook</title>
    </head>
    <body>
      <h1>{{name}}</h1>

      <h2>Users:</h2>
      <ul>
        {{#each users}}
          <li>
            {{id}}
            <div> Name: <h3>{{name}}</h3>
            </div>
            <p>Gender: {{gender}}</p>
            <p>Age: {{age}}</p>

            <h4>Friends:</h4>
            <ul>
              {{#each friends}}
                <li>
                  {{id}}
                  <div>Name: <h4>{{name}}</h4></div>
                  <p>Gender: {{gender}}</p>
                  <p>Age: {{age}}</p>

                  <h4>Mutual Friends:</h4>
                  <ul>
                    {{#each mutual_friends}}
                      <li>
                        {{id}}
                        <div>Name: <h4>{{name}}</h4></div>
                        <p>Gender: {{gender}}</p>
                        <p>Age: {{age}}</p>
                      </li>
                      <h4>Mutual Friends:</h4>
                  <ul>
                    {{#each mutual_friends}}
                      <li>
                        {{id}}
                        <div>Name: <h4>{{name}}</h4></div>
                        <p>Gender: {{gender}}</p>
                        <p>Age: {{age}}</p>
                      </li>
                    {{/each}}
                  </ul>
                    {{/each}}
                  </ul>
                </li>
              {{/each}}
            </ul>

           
            <ul>
              {{#each groups}}
               <h4>Groups:</h4>
                <li>
                  {{id}}
                  <div>Name: <h4>{{name}}</h4>
                   </div>
                  <p>Description: {{description}}</p>

                  <h4>Members:</h4>
                  <ul>
                    {{#each members}}
                      <li>
                        {{id}}
                        <div>Name: <h4>{{name}}</h4></div>
                        <p>Gender: {{gender}}</p>
                        <p>Age: {{age}}</p>
                      </li>
                    {{/each}}
                  </ul>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </body>
  </article>
</div>