<main>
  <article>
    <header>
      <h1 class='text-center'>{{page_header.title}}</h1>
      <p
        class='text-center text-uppercase'
      >{{page_header.description}}</p>
    </header>
    <div class='card'>
      <div class='card-body'>

        <section class='about-us'>
          <div
            class='display-6 text-end'
          >{{section.about_us.title_list.main}}</div>
          <div class='text-end'>
            <h2>{{section.about_us.title_list.sub}}</h2>
          </div>
          <button
            class='btn btn-outline-info'
          >{{section.about_us.button.text}}</button>
        </section>
      </div>
    </div>
    <br />
    <div class='card'>
      <section class='advantage'>
        <div class='display-5'>
          {{section.advantage.title}}
        </div>
        <br />
        <div class='card'>
          <div class='card-body'>
            <div class='efficiency'>
              <div
                class='display-4'
              >{{section.advantage.efficiency.title}}</div>
              <br />
              <h6
              >{{section.advantage.efficiency.sub_title}}</h6>
              <br />
              <p
              >{{section.advantage.efficiency.description}}</p>
              <button
                class='btn btn-outline-warning'
              >{{section.advantage.efficiency.button}}</button>
            </div>
          </div>
        </div>
        <br />

        <div class='innovation'>
          <div class='card'>
            <div class='card-body'>
              <div
                class='display-4 text-center'
              >{{section.advantage.innovation.title}}
              </div>
              <div class='text-center'>
                <h6
                >{{section.advantage.innovation.sub_title}}</h6>
                <p
                >{{section.advantage.innovation.description}}</p>
              </div>

              <button
                class='btn btn-outline-warning'
              >{{section.advantage.innovation.button}}</button>
            </div>
          </div>
        </div>
        <br />

        <div class='collaboration'>
          <div class='card'>
            <div class='card-body'>

              <div
                class='display-4 text-end'
              >{{section.advantage.collaboration.title}}</div>
              <div class='text-end'>
                <h6
                >{{section.advantage.collaboration.sub_title}}</h6>
                <p
                >{{section.advantage.collaboration.description}}</p>
              </div>
              <button
                class='btn btn-outline-warning'
              >{{section.advantage.collaboration.button}}</button>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class='agreement'>
      <div class='card-body'>
        <div class='card'>
          <div class='card-body'>
            <div class='display-5'>
              {{section.agreement.title}}</div>
            <div class='card-body'>
              <div class='card'>
                <div class='card-body'>
                  <div class='info'>
                    <h5
                    >{{section.agreement.info.sub_title}}</h5>
                    <div class='card-body'>
                      <div class='card'>
                        <div class='card-body'>
                          <p
                          >{{section.agreement.info.detail.text}}</p>

                          <button
                            class='btn btn-success btn-sm'
                          >{{section.agreement.info.detail.button}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>