{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  {{#with main}}
  <main>
    <section class="m-5">
      {{> title data="Work history" big=true}}
      <div>
        <ul>
        {{#each works}}
        <li>
          <div>{{position}}</div>
        

          <div class="mb-3">
                {{duration.from}} 
                - 
                {{#if duration.to}} 
                {{duration.to}} 
                {{else}} 
                (працюю досі) 
                {{/if}}
          </div>

          <br>
         <div>
          {{#if company.url}}
          {{> link text=company.name href=company.url blank=true noLine=true}}
          {{else}}
          <b>{{company.name}}</b>
          {{/if}}
          </div>
          <br>
          <br>

          <div>
            <strong>Projects  ({{projectAmount}})</strong>
         </div>

          <br>

          <ul>
            {{#each projects}}
            <li>
                
                <div>{{> link text=name href=url blank=true noLine=true}}</div>
                <br>
                <div>
                    <p>{{about}} </p>
                 </div>
                 <br>
                 <div>
                    <em>Project stacks</em> ({{stackAmount}})
                 </div>
                 <br>
                 <div>
                    {{#each stacks}}
                      <div>{{name}}</div>
                    {{/each}}

                 </div>
                 <br>
                 <div>
                      <em>Project awords</em> ({{awardAmount}})

                 </div>
                 <br>
                 <div>
                  {{#each awards}}
                      <div>{{name}}</div>
                    {{/each}}
                 </div>

            </li>
            {{/each}}
          </ul>
        </li>
        <br>
        {{/each}}
        </ul>
      </div>
    </section>
    </main>

   {{/with}}

</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}